/*
    * Obadiah Fusco
    * Activety 4
    * CST-350
    * 10/26/25
    */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Button grid styes*/
.game-button {
    width: 75px;
}
.game-button-image {
    width: 70px;
}

.button-zone {
    display: flex;
    flex-wrap: wrap;
}

.line-break {
    flex-basis: 100%;
    height 0;
}

.button-label {
    font-size: 8px;
    text-align: center;
}